<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqjCZitC-7vFc4p985gCsp9tJ8l3miAg4</string>
	<key>GCM_SENDER_ID</key>
	<string>162330381857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosApplication</string>
	<key>PROJECT_ID</key>
	<string>sos-project-773fa</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-project-773fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162330381857:ios:0cd48e936e14d7ba9f5d60</string>
</dict>
</plist>